@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 24 100% 95%;
        --foreground: 24 5% 10%;
        --card: 24 50% 90%;
        --card-foreground: 24 5% 15%;
        --popover: 24 100% 95%;
        --popover-foreground: 24 100% 10%;
        --primary: 24 65.4% 75.1%;
        --primary-foreground: 0 0% 0%;
        --secondary: 24 30% 70%;
        --secondary-foreground: 0 0% 0%;
        --muted: -14 30% 85%;
        --muted-foreground: 24 5% 35%;
        --accent: -14 30% 80%;
        --accent-foreground: 24 5% 15%;
        --destructive: 0 100% 30%;
        --destructive-foreground: 24 5% 90%;
        --border: 24 30% 50%;
        --input: 24 30% 23%;
        --ring: 24 65.4% 75.1%;
        --radius: 0.5rem;
    }
        .dark {
            --background: 207 15% 10%;
                --foreground: 207 5% 100%;
                --card: 207 15% 10%;
                --card-foreground: 207 5% 100%;
                --popover: 207 15% 5%;
                --popover-foreground: 207 5% 100%;
                --primary: 207 81.5% 89.4%;
                --primary-foreground: 0 0% 0%;
                --secondary: 207 15% 20%;
                --secondary-foreground: 0 0% 100%;
                --muted: 169 15% 25%;
                --muted-foreground: 207 5% 65%;
                --accent: 169 15% 25%;
                --accent-foreground: 207 5% 95%;
                --destructive: 0 50% 50%;
                --destructive-foreground: 207 5% 100%;
                --border: 207 20% 50%;
                --input: 207 20% 50%;
                --ring: 207 81.5% 89.4%;
                --radius: 0.5rem;
        }
}


@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }
}